* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 320px;
    max-width: 320px;
    height: 90vh;
}

#calculator {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 18px;
}

.calculator-dark-mode-border {
    border: 1px solid rgb(69, 69, 69);
    margin: -1px;
}

#display {
    display: flex;
    justify-content: right;
    height: 100px;
    font-size: 3.5rem;
    padding: 20px;
    color: rgb(232, 232, 232);
    overflow: auto;
}

button {
    cursor: pointer;
    outline: none;
    border: solid 1px rgba(40, 40, 40, 0.8);
    height: 5rem;
    font-size: 2rem;
    color: rgb(232, 232, 232);
}

.button-row {
    display: flex;
}

.orange-button {
    background-color: #FF9F07;
}

.span-one {
    width: 25%;
}

.span-two {
    width: 50%;
}

.span-three {
    width: 75%;
}

.non-operator {
    background-color: rgba(70, 70, 70, 0.8);
}

.number {
    background-color: rgba(100, 100, 100, 0.8);
}

#red-button {
    background-color: rgb(236, 106, 95);
}

#yellow-button {
    background-color: rgb(244, 191, 80);
}

#green-button {
    background-color: rgb(97, 197, 84);
}

#traffic-light > button {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 0;
    border-radius: 100%;
}

#display, #traffic-light {
    background-color: rgba(30, 30, 30, 0.8);
}

#traffic-light {
    border: 0;
    border-radius: 18px 18px 0 0;
    padding: 10px;
}

.equal-sign {
    border-radius: 0 0 18px 0 ;
}

.zero-number {
    border-radius: 0 0 0 18px;
}

#footer {
    flex-shrink: 0;
    width: 100vw;
    height: 10vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer img {
    width: 25px;
    margin-left: 10px;
}

button.orange-button:active:hover{
    background-color: rgb(192, 129, 45);
}

button#clear:active:hover{
    background-color: rgba(100, 100, 100, 0.8);
}

button.number:active:hover {
    background-color: rgba(176, 176, 176, 0.8);
}

.dark-mode {
    background-color: #000000;
    color: white;
}

#dark-mode-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 25px;
}

#dark-mode-text {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

/* Dark mode toggle button */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }